@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

body {
    background-color: #ffffff;
    color: black;
    font-family: Poppins;
    font-weight: 250;
    font-size: 1.2em;
    --link-color: #e8590c;
  }

.coluna-principal {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  align-items: center;
  min-width: 625px;
}

.conteudo {
  width: 90%;
  margin: auto;
}

.cabeçalho {
  text-align: center;
  width: 100%;
  padding-top: 15px;
}

.Titulo {
  padding-top: 5px;
  font-size: 2.5em;
  color: rgb(48, 43, 43);
  font-weight: 200;
  margin: 0px;
}

.menu {
  margin: auto;
  padding-top: 10px;
}

.menu > ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.menu > ul > li {
  border-top: 2px solid #FFEFE8;
  padding-top: 7px;
}

.menu > ul > li:hover {
  border-top: 2px solid var(--link-color);
}

.menu > ul > li > a {
  text-decoration: none;
}




.apresentação {
  display: flex;
  height: auto;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: auto;
}

.picprofile {
  width: 34%;
  max-width: 290px;
  padding-top: 30px;
}

.auto-descrição {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 25px;
}

.subcabeçalho {
  font-size: 1.9em;
  font-weight: 350;
  padding-top: 25px;
  margin: 0;
}

.links-pessoais > ul{
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  color: var(--link-color);
}

.atualmente {
  padding-top: 23px;
}

.atualmente > ul {
  list-style-type: square;
  margin-left: 2%;
}

.pubs {
  padding-top: 20px;
}

@media (max-width: 600px) {
  .main-column {
    width: 90%;
    min-width: 325px;
  }

  .content {
    width: 100%;
  }

  .intro {
    flex-direction: column;
  }

  .headshot {
    width: 100%;
    padding-top: 15px;
    align-self: center;
  }

  .self-descrip {
    width: 100%;
    padding-left: 0px;
  }

}